<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
      <img class='xl-menu' src="../../../assets/images/home/trademark.png"
        style="position: absolute;left:7%;top:10%;width:25%">
      <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'packaging']" routerLinkActive="active">PACKAGING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'marketing']" routerLinkActive="active">MARKETING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
        </li>
      </ul>
      <img class='w-100' src='../../../assets/images/portfolio/head_bg.jpg' title='portfolio'
        alt="portfolio keep up packaging">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
      <h1 class='title-2 mt-4'>ผลงานตัวอย่างของเรา</h1>
      <h2 class='title-3 font-weight-normal mb-4'>เชิญลูกค้ารับชมผลงานบรรจุภัณฑ์เบื้องต้นของเรา</h2>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center px-0'>
      <!-- <h1 class='title-2 text-light my-3'>ภาพหลักร้อย สร้างยอดขายหลักร้าน</h1> -->
      <img class='w-100' src="../../../assets/images/portfolio/title1.png">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
      <br>
      <br>
      <main class="grid-item main">
        <div class="items zadoong">
          <div class="item item1"><img class='w-100' src="../../../assets/images/portfolio/11.jpg"></div>
          <div class="item item2"><img class='w-100' src="../../../assets/images/portfolio/12.jpg"></div>
          <div class="item item3"><img class='w-100' src="../../../assets/images/portfolio/13.jpg"></div>
          <div class="item item4"><img class='w-100' src="../../../assets/images/portfolio/14.jpg"></div>
          <div class="item item5"><img class='w-100' src="../../../assets/images/portfolio/15.jpg"></div>
          <div class="item item6"><img class='w-100' src="../../../assets/images/portfolio/16.jpg"></div>
          <div class="item item7"><img class='w-100' src="../../../assets/images/portfolio/17.jpg"></div>
        </div>
      </main>
      <br>
      <br>
      <main class="grid-item main">
        <div class="items amez">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/21.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/22.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/23.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/24.jpg"></div>
        </div>
      </main>
      <br><br>
      <main class="grid-item main">
        <div class="items bisutang">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/31.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/32.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/33.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/34.jpg"></div>
        </div>
      </main>
      <br><br>
      <main class="grid-item main">
        <div class="items perl">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/41.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/42.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/43.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/44.jpg"></div>
        </div>
      </main>
      <br><br>
      <main class="grid-item main">
        <div class="items me">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/51.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/52.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/53.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/54.jpg"></div>
        </div>
      </main>
      <br><br>
      <main class="grid-item main">
        <div class="items d2">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/61.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/62.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/63.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/64.jpg"></div>
        </div>
      </main>
      <br><br>
      <main class="grid-item main">
        <div class="items jhair">
          <div class="item item8"><img class='w-100' src="../../../assets/images/portfolio/71.jpg"></div>
          <div class="item item9"><img class='w-100' src="../../../assets/images/portfolio/72.jpg"></div>
          <div class="item item10"><img class='w-100' src="../../../assets/images/portfolio/73.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/74.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/75.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/76.jpg"></div>
          <div class="item item11"><img class='w-100' src="../../../assets/images/portfolio/77.jpg"></div>
        </div>
      </main>
      <h1 class='title-3 mt-4 font-weight-normal'>เรื่องคุณภาพความสวยของบรรจุภัณฑ์มั่นใจได้เลยจ้า</h1>
      <h1 class='title-4 mb-4 font-weight-normal'>บรรจุภัณฑ์ทั้งหมดนี้เป็นส่วนหนึ่งของบรรจุภัณฑ์ที่เราผลิต</h1>
    </div>
  </div>
  <app-contact-line></app-contact-line>
  <!--------------------------------------------------------- Footer ---------------------------------------------------->
  <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>