<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/header_bg.jpg' title="ขวดเซรั่ม"
                alt="ขวดเซรั่ม keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>ขวดเซรั่ม ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 1,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/serum/title1.png' title='บรรจุภัณฑ์ขวดเซรั่ม'
                alt="บรรจุภัณฑ์ขวดเซรั่ม keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/11.jpg' aria-haspopup="dialog"
                        src="../../../assets/images/example/serum/11.jpg" 
                        alt="บรรจุภัณฑ์ขวดเซรั่ม keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/12.jpg'
                        src="../../../assets/images/example/serum/12.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/13.jpg'
                        src="../../../assets/images/example/serum/13.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/14.jpg'
                        src="../../../assets/images/example/serum/14.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/21.jpg'
                        src="../../../assets/images/example/serum/21.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/22.jpg'
                        src="../../../assets/images/example/serum/22.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/23.jpg'
                        src="../../../assets/images/example/serum/23.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/24.jpg'
                        src="../../../assets/images/example/serum/24.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/31.jpg'
                        src="../../../assets/images/example/serum/31.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/32.jpg'
                        src="../../../assets/images/example/serum/32.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/33.jpg'
                        src="../../../assets/images/example/serum/33.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href='../../../assets/images/example/serum/34.jpg'
                        src="../../../assets/images/example/serum/34.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href="../../../assets/images/example/serum/41.jpg"
                        src="../../../assets/images/example/serum/41.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href="../../../assets/images/example/serum/42.jpg"
                        src="../../../assets/images/example/serum/42.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href="../../../assets/images/example/serum/43.jpg"
                        src="../../../assets/images/example/serum/43.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href="../../../assets/images/example/serum/44.jpg"
                        src="../../../assets/images/example/serum/44.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' 
                        href="../../../assets/images/example/serum/51.jpg"
                        src="../../../assets/images/example/serum/51.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' 
                        href="../../../assets/images/example/serum/52.jpg"
                        src="../../../assets/images/example/serum/52.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' 
                        src="../../../assets/images/example/serum/53.jpg"
                        href="../../../assets/images/example/serum/53.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' 
                        href="../../../assets/images/example/serum/54.jpg"
                        src="../../../assets/images/example/serum/54.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        src="../../../assets/images/example/serum/61.jpg"
                        href="../../../assets/images/example/serum/61.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                    href="../../../assets/images/example/serum/62.jpg" src="../../../assets/images/example/serum/62.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        src="../../../assets/images/example/serum/63.jpg" href="../../../assets/images/example/serum/63.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer'
                        href="../../../assets/images/example/serum/64.jpg" src="../../../assets/images/example/serum/64.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/71.jpg" href="../../../assets/images/example/serum/71.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/72.jpg" src="../../../assets/images/example/serum/72.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/73.jpg" src="../../../assets/images/example/serum/73.jpg" >
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/74.jpg" src="../../../assets/images/example/serum/74.jpg" >
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/81.jpg" href="../../../assets/images/example/serum/81.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/82.jpg" src="../../../assets/images/example/serum/82.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/83.jpg" src="../../../assets/images/example/serum/83.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/84.jpg" src="../../../assets/images/example/serum/84.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/91.jpg" src="../../../assets/images/example/serum/91.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/92.jpg" href="../../../assets/images/example/serum/92.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/93.jpg" src="../../../assets/images/example/serum/93.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/94.jpg" src="../../../assets/images/example/serum/94.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/101.jpg" href="../../../assets/images/example/serum/101.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/102.jpg" src="../../../assets/images/example/serum/102.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/103.jpg" src="../../../assets/images/example/serum/103.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/104.jpg" src="../../../assets/images/example/serum/104.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/111.jpg" href="../../../assets/images/example/serum/111.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/112.jpg" src="../../../assets/images/example/serum/112.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/113.jpg" src="../../../assets/images/example/serum/113.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/114.jpg" src="../../../assets/images/example/serum/114.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/121.jpg" href="../../../assets/images/example/serum/121.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/122.jpg" src="../../../assets/images/example/serum/122.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/123.jpg" src="../../../assets/images/example/serum/123.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/124.jpg" src="../../../assets/images/example/serum/124.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/131.jpg" href="../../../assets/images/example/serum/131.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/132.jpg" src="../../../assets/images/example/serum/132.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/133.jpg" src="../../../assets/images/example/serum/133.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/134.jpg" src="../../../assets/images/example/serum/134.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/141.jpg" href="../../../assets/images/example/serum/141.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/142.jpg" src="../../../assets/images/example/serum/142.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/143.jpg" src="../../../assets/images/example/serum/143.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/144.jpg" src="../../../assets/images/example/serum/144.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/151.jpg" src="../../../assets/images/example/serum/151.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/152.jpg" src="../../../assets/images/example/serum/152.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/153.jpg" src="../../../assets/images/example/serum/153.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/154.jpg" src="../../../assets/images/example/serum/154.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/161.jpg" href='"../../../assets/images/example/serum/161.jpg"'>
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/162.jpg" src="../../../assets/images/example/serum/162.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/163.jpg" href='"../../../assets/images/example/serum/163.jpg"'>
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/164.jpg" src="../../../assets/images/example/serum/164.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/serum/171.jpg" href="../../../assets/images/example/serum/171.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/172.jpg" src="../../../assets/images/example/serum/172.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/173.jpg" src="../../../assets/images/example/serum/173.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' href="../../../assets/images/example/serum/174.jpg" src="../../../assets/images/example/serum/174.jpg">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>