<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/tube/head_bg.jpg' title="หลอดครีม" alt="หลอดครีม keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>หลอดครีม ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 3,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/tube/title1.png' title='บรรจุภัณฑ์หลอดครีม' alt="บรรจุภัณฑ์หลอดครีม keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/11.jpg" href='../../../assets/images/example/tube/11.jpg' aria-haspopup="dialog" alt="บรรจุภัณฑ์หลอดครีม keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/12.jpg" href='../../../assets/images/example/tube/12.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/13.jpg" href='../../../assets/images/example/tube/13.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/14.jpg" href='../../../assets/images/example/tube/14.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/21.jpg" href='../../../assets/images/example/tube/21.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/22.jpg" href='../../../assets/images/example/tube/22.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/23.jpg" href='../../../assets/images/example/tube/23.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/24.jpg" href='../../../assets/images/example/tube/24.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/31.jpg" href='../../../assets/images/example/tube/31.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/32.jpg" href='../../../assets/images/example/tube/32.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/33.jpg" href='../../../assets/images/example/tube/33.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/34.jpg" href='../../../assets/images/example/tube/34.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/41.jpg" href='../../../assets/images/example/tube/41.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/42.jpg" href='../../../assets/images/example/tube/42.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/43.jpg" href='../../../assets/images/example/tube/43.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/44.jpg" href='../../../assets/images/example/tube/44.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/51.jpg" href='../../../assets/images/example/tube/51.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/52.jpg" href='../../../assets/images/example/tube/52.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/53.jpg" href='../../../assets/images/example/tube/53.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/54.jpg" href='../../../assets/images/example/tube/54.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/61.jpg" href='../../../assets/images/example/tube/61.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/62.jpg" href='../../../assets/images/example/tube/62.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/63.jpg" href='../../../assets/images/example/tube/63.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/64.jpg" href='../../../assets/images/example/tube/64.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/71.jpg" href='../../../assets/images/example/tube/71.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/72.jpg" href='../../../assets/images/example/tube/72.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/73.jpg" href='../../../assets/images/example/tube/73.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/74.jpg" href='../../../assets/images/example/tube/74.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/81.jpg" href='../../../assets/images/example/tube/81.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/82.jpg" href='../../../assets/images/example/tube/82.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/83.jpg" href='../../../assets/images/example/tube/83.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/84.jpg" href='../../../assets/images/example/tube/84.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/91.jpg" href='../../../assets/images/example/tube/91.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/92.jpg" href='../../../assets/images/example/tube/92.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/93.jpg" href='../../../assets/images/example/tube/93.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/94.jpg" href='../../../assets/images/example/tube/94.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/101.jpg" href='../../../assets/images/example/tube/101.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/102.jpg" href='../../../assets/images/example/tube/102.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/103.jpg" href='../../../assets/images/example/tube/103.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/104.jpg" href='../../../assets/images/example/tube/104.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/111.jpg" href='../../../assets/images/example/tube/111.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/112.jpg" href='../../../assets/images/example/tube/112.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/113.jpg" href='../../../assets/images/example/tube/113.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/114.jpg" href='../../../assets/images/example/tube/114.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/121.jpg" href='../../../assets/images/example/tube/121.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/122.jpg" href='../../../assets/images/example/tube/122.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/123.jpg" href='../../../assets/images/example/tube/123.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/124.jpg" href='../../../assets/images/example/tube/124.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/131.jpg" href='../../../assets/images/example/tube/131.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/132.jpg" href='../../../assets/images/example/tube/132.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/133.jpg" href='../../../assets/images/example/tube/133.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/134.jpg" href='../../../assets/images/example/tube/134.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/141.jpg" href='../../../assets/images/example/tube/141.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/142.jpg" href='../../../assets/images/example/tube/142.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/143.jpg" href='../../../assets/images/example/tube/143.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/144.jpg" href='../../../assets/images/example/tube/144.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br> 
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/151.jpg" href='../../../assets/images/example/tube/151.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/152.jpg" href='../../../assets/images/example/tube/152.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/153.jpg" href='../../../assets/images/example/tube/153.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/154.jpg" href='../../../assets/images/example/tube/154.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/161.jpg" href='../../../assets/images/example/tube/161.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/162.jpg" href='../../../assets/images/example/tube/162.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/163.jpg" href='../../../assets/images/example/tube/163.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/164.jpg" href='../../../assets/images/example/tube/164.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/171.jpg" href='../../../assets/images/example/tube/171.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/172.jpg" href='../../../assets/images/example/tube/172.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/173.jpg" href='../../../assets/images/example/tube/173.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/174.jpg" href='../../../assets/images/example/tube/174.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/181.jpg" href='../../../assets/images/example/tube/181.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/182.jpg" href='../../../assets/images/example/tube/182.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/183.jpg" href='../../../assets/images/example/tube/183.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/184.jpg" href='../../../assets/images/example/tube/184.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/191.jpg" href='../../../assets/images/example/tube/191.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/192.jpg" href='../../../assets/images/example/tube/192.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/193.jpg" href='../../../assets/images/example/tube/193.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/194.jpg" href='../../../assets/images/example/tube/194.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/201.jpg" href='../../../assets/images/example/tube/201.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/202.jpg" href='../../../assets/images/example/tube/202.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/203.jpg" href='../../../assets/images/example/tube/203.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/204.jpg" href='../../../assets/images/example/tube/204.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/211.jpg" href='../../../assets/images/example/tube/211.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/212.jpg" href='../../../assets/images/example/tube/212.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/213.jpg" href='../../../assets/images/example/tube/213.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/214.jpg" href='../../../assets/images/example/tube/214.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/221.jpg" href='../../../assets/images/example/tube/221.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/222.jpg" href='../../../assets/images/example/tube/222.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/223.jpg" href='../../../assets/images/example/tube/223.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/224.jpg" href='../../../assets/images/example/tube/224.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/231.jpg" href='../../../assets/images/example/tube/231.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/232.jpg" href='../../../assets/images/example/tube/232.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/233.jpg" href='../../../assets/images/example/tube/233.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/234.jpg" href='../../../assets/images/example/tube/234.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/241.jpg" href='../../../assets/images/example/tube/241.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/242.jpg" href='../../../assets/images/example/tube/242.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/243.jpg" href='../../../assets/images/example/tube/243.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/244.jpg" href='../../../assets/images/example/tube/244.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/251.jpg" href='../../../assets/images/example/tube/251.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/252.jpg" href='../../../assets/images/example/tube/252.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/253.jpg" href='../../../assets/images/example/tube/253.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/tube/254.jpg" href='../../../assets/images/example/tube/254.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>
