<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/powder/head_bg.jpg' title="บรรจุภัณฑ์ตลับแป้ง" alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>ตลับแป้ง ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 12,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/powder/title1.png' title='บรรจุภัณฑ์ตลับแป้ง' alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/11.jpg" href='../../../assets/images/example/powder/11.jpg' aria-haspopup="dialog" alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/12.jpg" href='../../../assets/images/example/powder/12.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/13.jpg" href='../../../assets/images/example/powder/13.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/14.jpg" href='../../../assets/images/example/powder/14.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/21.jpg" href='../../../assets/images/example/powder/21.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/22.jpg" href='../../../assets/images/example/powder/22.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/23.jpg" href='../../../assets/images/example/powder/23.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/24.jpg" href='../../../assets/images/example/powder/24.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/31.jpg" href='../../../assets/images/example/powder/31.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/32.jpg" href='../../../assets/images/example/powder/32.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/33.jpg" href='../../../assets/images/example/powder/33.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/34.jpg" href='../../../assets/images/example/powder/34.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/41.jpg" href='../../../assets/images/example/powder/41.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/42.jpg" href='../../../assets/images/example/powder/42.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/43.jpg" href='../../../assets/images/example/powder/43.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/44.jpg" href='../../../assets/images/example/powder/44.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/51.jpg" href='../../../assets/images/example/powder/51.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/52.jpg" href='../../../assets/images/example/powder/52.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/53.jpg" href='../../../assets/images/example/powder/53.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/54.jpg" href='../../../assets/images/example/powder/54.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/61.jpg" href='../../../assets/images/example/powder/61.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/62.jpg" href='../../../assets/images/example/powder/62.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/63.jpg" href='../../../assets/images/example/powder/63.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/64.jpg" href='../../../assets/images/example/powder/64.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/71.jpg" href='../../../assets/images/example/powder/71.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/72.jpg" href='../../../assets/images/example/powder/72.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/73.jpg" href='../../../assets/images/example/powder/73.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/74.jpg" href='../../../assets/images/example/powder/74.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/81.jpg" href='../../../assets/images/example/powder/81.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/82.jpg" href='../../../assets/images/example/powder/82.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/83.jpg" href='../../../assets/images/example/powder/83.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/84.jpg" href='../../../assets/images/example/powder/84.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/91.jpg" href='../../../assets/images/example/powder/91.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/92.jpg" href='../../../assets/images/example/powder/92.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/93.jpg" href='../../../assets/images/example/powder/93.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/94.jpg" href='../../../assets/images/example/powder/94.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/101.jpg" href='../../../assets/images/example/powder/101.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/102.jpg" href='../../../assets/images/example/powder/102.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/103.jpg" href='../../../assets/images/example/powder/103.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/104.jpg" href='../../../assets/images/example/powder/104.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/111.jpg" href='../../../assets/images/example/powder/111.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/112.jpg" href='../../../assets/images/example/powder/112.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/113.jpg" href='../../../assets/images/example/powder/113.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/114.jpg" href='../../../assets/images/example/powder/114.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/121.jpg" href='../../../assets/images/example/powder/121.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/122.jpg" href='../../../assets/images/example/powder/122.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/123.jpg" href='../../../assets/images/example/powder/123.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/124.jpg" href='../../../assets/images/example/powder/124.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/131.jpg" href='../../../assets/images/example/powder/131.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/132.jpg" href='../../../assets/images/example/powder/132.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/133.jpg" href='../../../assets/images/example/powder/133.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/powder/preview/134.jpg" href='../../../assets/images/example/powder/134.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>

