<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" href="#">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/powder/head_bg.jpg' title="บรรจุภัณฑ์ตลับแป้ง" alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>ตลับแป้ง ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 12,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/powder/title1.png' title='บรรจุภัณฑ์ตลับแป้ง' alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/11.jpg" tile='บรรจุภัณฑ์ตลับแป้ง' alt="บรรจุภัณฑ์ตลับแป้ง keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/12.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/13.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/14.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/21.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/22.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/23.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/24.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/31.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/32.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/33.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/34.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/41.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/42.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/43.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/44.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/51.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/52.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/53.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/54.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/61.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/62.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/63.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/64.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/71.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/72.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/73.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/74.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/81.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/82.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/83.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/84.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/91.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/92.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/93.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/94.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/101.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/102.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/103.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/104.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/111.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/112.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/113.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/114.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/121.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/122.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/123.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/124.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/131.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/132.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/133.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/powder/134.jpg">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>

