<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/box/head_bg.jpg' title="กล่อง" alt="กล่อง keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>กล่อง ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 1,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/box/title1.png' title='บรรจุภัณฑ์กล่อง' alt="บรรจุภัณฑ์กล่อง keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/11.jpg" href='../../../assets/images/example/box/11.jpg' aria-haspopup="dialog" alt="บรรจุภัณฑ์กล่อง keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/12.jpg" href='../../../assets/images/example/box/12.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/13.jpg" href='../../../assets/images/example/box/13.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/14.jpg" href='../../../assets/images/example/box/14.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/21.jpg" href='../../../assets/images/example/box/21.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/22.jpg" href='../../../assets/images/example/box/22.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/23.jpg" href='../../../assets/images/example/box/23.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/24.jpg" href='../../../assets/images/example/box/24.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/31.jpg" href='../../../assets/images/example/box/31.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/32.jpg" href='../../../assets/images/example/box/32.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/33.jpg" href='../../../assets/images/example/box/33.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/34.jpg" href='../../../assets/images/example/box/34.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/41.jpg" href='../../../assets/images/example/box/41.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/42.jpg" href='../../../assets/images/example/box/42.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/43.jpg" href='../../../assets/images/example/box/43.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/44.jpg" href='../../../assets/images/example/box/44.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/51.jpg" href='../../../assets/images/example/box/51.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/52.jpg" href='../../../assets/images/example/box/52.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/53.jpg" href='../../../assets/images/example/box/53.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/54.jpg" href='../../../assets/images/example/box/54.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/61.jpg" href='../../../assets/images/example/box/61.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/62.jpg" href='../../../assets/images/example/box/62.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/63.jpg" href='../../../assets/images/example/box/63.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/64.jpg" href='../../../assets/images/example/box/64.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/71.jpg" href='../../../assets/images/example/box/71.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/72.jpg" href='../../../assets/images/example/box/72.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/73.jpg" href='../../../assets/images/example/box/73.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/74.jpg" href='../../../assets/images/example/box/74.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/81.jpg" href='../../../assets/images/example/box/81.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/82.jpg" href='../../../assets/images/example/box/82.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/83.jpg" href='../../../assets/images/example/box/83.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/84.jpg" href='../../../assets/images/example/box/84.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/91.jpg" href='../../../assets/images/example/box/91.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/92.jpg" href='../../../assets/images/example/box/92.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/93.jpg" href='../../../assets/images/example/box/93.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/94.jpg" href='../../../assets/images/example/box/94.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/101.jpg" href='../../../assets/images/example/box/101.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/102.jpg" href='../../../assets/images/example/box/102.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/103.jpg" href='../../../assets/images/example/box/103.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/104.jpg" href='../../../assets/images/example/box/104.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/111.jpg" href='../../../assets/images/example/box/111.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/112.jpg" href='../../../assets/images/example/box/112.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/113.jpg" href='../../../assets/images/example/box/113.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/114.jpg" href='../../../assets/images/example/box/114.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/121.jpg" href='../../../assets/images/example/box/121.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/122.jpg" href='../../../assets/images/example/box/122.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/123.jpg" href='../../../assets/images/example/box/123.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/124.jpg" href='../../../assets/images/example/box/124.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/131.jpg" href='../../../assets/images/example/box/131.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/132.jpg" href='../../../assets/images/example/box/132.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/133.jpg" href='../../../assets/images/example/box/133.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/134.jpg" href='../../../assets/images/example/box/134.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/141.jpg" href='../../../assets/images/example/box/141.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/142.jpg" href='../../../assets/images/example/box/142.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/143.jpg" href='../../../assets/images/example/box/143.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/144.jpg" href='../../../assets/images/example/box/144.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/151.jpg" href='../../../assets/images/example/box/151.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/152.jpg" href='../../../assets/images/example/box/152.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/153.jpg" href='../../../assets/images/example/box/153.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/154.jpg" href='../../../assets/images/example/box/154.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/161.jpg" href='../../../assets/images/example/box/161.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/162.jpg" href='../../../assets/images/example/box/162.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/163.jpg" href='../../../assets/images/example/box/163.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/164.jpg" href='../../../assets/images/example/box/164.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/171.jpg" href='../../../assets/images/example/box/171.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/172.jpg" href='../../../assets/images/example/box/172.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/173.jpg" href='../../../assets/images/example/box/173.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/174.jpg" href='../../../assets/images/example/box/174.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/181.jpg" href='../../../assets/images/example/box/181.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/182.jpg" href='../../../assets/images/example/box/182.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/183.jpg" href='../../../assets/images/example/box/183.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/184.jpg" href='../../../assets/images/example/box/184.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/191.jpg" href='../../../assets/images/example/box/191.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/192.jpg" href='../../../assets/images/example/box/192.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/193.jpg" href='../../../assets/images/example/box/193.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/194.jpg" href='../../../assets/images/example/box/194.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/201.jpg" href='../../../assets/images/example/box/201.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/202.jpg" href='../../../assets/images/example/box/202.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/203.jpg" href='../../../assets/images/example/box/203.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/204.jpg" href='../../../assets/images/example/box/204.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/211.jpg" href='../../../assets/images/example/box/211.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/212.jpg" href='../../../assets/images/example/box/212.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/213.jpg" href='../../../assets/images/example/box/213.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/box/214.jpg" href='../../../assets/images/example/box/214.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>
