<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" href="#">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/box/head_bg.jpg' title="กล่อง" alt="กล่อง keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>กล่อง ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 1,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/box/title1.png' title='บรรจุภัณฑ์กล่อง' alt="บรรจุภัณฑ์กล่อง keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/11.jpg" tile='บรรจุภัณฑ์กล่อง' alt="บรรจุภัณฑ์กล่อง keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/12.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/13.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/14.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/21.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/22.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/23.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/24.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/31.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/32.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/33.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/34.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/41.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/42.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/43.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/44.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/51.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/52.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/53.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/54.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/61.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/62.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/63.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/64.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/71.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/72.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/73.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/74.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/81.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/82.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/83.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/84.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/91.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/92.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/93.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/94.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/101.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/102.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/103.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/104.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/111.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/112.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/113.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/114.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/121.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/122.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/123.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/124.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/131.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/132.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/133.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/134.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/141.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/142.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/143.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/144.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/151.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/152.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/153.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/154.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/161.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/162.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/163.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/164.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/171.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/172.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/173.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/174.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/181.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/182.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/183.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/184.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/191.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/192.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/193.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/194.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/201.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/202.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/203.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/204.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/211.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/212.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/213.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/box/214.jpg">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
