<div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='padding-top: 2%;'>
      <div class='row justify-content-around'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-10'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title1.jpg">
          <br>
          <!-- <img class='d-block w-100' src="../../../assets/images/aboutus/detail1.jpg"> -->
          <img class='d-block w-50' src="../../../assets/images/aboutus/logo1.png">
          <h3 class='text-left mt-1 font-weight-normal mb-3' style="line-height: 1;">บริษัท คีพ อัพ จำกัด เลขที่195
            หมู่2 ต.ม่วงตึ๊ด อ.ภูเพียง จ.น่าน 55000</h3>
          <!-- <img class='d-block w-100 mb-3' src="../../../assets/images/aboutus/detail2.jpg"> -->
          <img class='d-block w-50' src="../../../assets/images/aboutus/logo2.png">
          <h3 class='text-left mt-1 font-weight-normal mb-3' style="line-height: 1;">จดทะเบียนพาณิชย์อิเล็กทรอนิกส์</h3>
          <!-- <img class='d-block w-100' src="../../../assets/images/aboutus/detail3.jpg"> -->
          <img class='d-block w-50' src="../../../assets/images/aboutus/logo3.png">
          <h3 class='text-left mt-1 font-weight-normal mb-3' style="line-height: 1;">ปลอดภัย รับรองโดย Google</h3>
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-10'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title2.jpg">
          <br>
          <ul class='text-left' style="font-size: xx-large;">
            <li>รวมบรรจุภัณฑ์</li>
            <li>ขวดเซรั่ม</li>
            <li>หลอดครีม</li>
            <li>กระปุกครีม</li>
            <li>ตลับแป้ง</li>
            <li>ลิป</li>
            <li>กล่อง</li>
            <li>กราฟิกดีไซน์</li>
            <li>บริการดูแลแฟนเฟจเฟสบุ็ค</li>
            <li>ผลงาน</li>
          </ul>
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-10'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title3.jpg">
          <br>
          <!-- <img class='d-block w-100' src="../../../assets/images/aboutus/detail4.jpg"> -->
          <h4 class="text-left">ผู้ให้บริการออกแบบบรรจุภัณฑ์เครื่องสำอางพร้อมผลิตบรรจุภัณฑ์อย่างมืออาชีพ
            แก้งานออกแบบได้ตามเงื่อนไข รับผลิตบรรจุภัณฑ์ขั่นต่ำเริ่มต้นที่ 1,000 ชิ้น ราคาเริ่มต้นที่ 5 บาท/ชิ้น
            ออกแบบพร้อมผลิต ราคาถูก</h4>
          <br>
          <h4 class="text-left">พร้อมออกแบบภาพโฆษณากราฟิก รวมถึงภาพ Mock up : 2D/3D ออกแบบให้ลูกค้าฟรี
            สำหรับลูกค้าที่เริ่มการสั่งซื้อบรรจุภัณฑ์กับทางบริษัท ลูกค้าสามารถเลือกบรรจุภัณฑ์ได้
            ทางเรายินดีให้บริการลูกค้าอย่างเต็มที่สุดความสามารถที่เราจะทำได้</h4>
        </div>
        <!-- <img class='d-block w-50 mx-auto mb-4 mt-2' src="../../../assets/images/aboutus/footer.jpg"> -->
        <p class='copy-right'>© Copyright 2021 <span class='contact-link'>www.keepuppackage.com</span> All Rights
          Reserved. รับผลิตบรรจุภัณฑ์เครื่องสำอาง <span class='contact-link'> Cosmetic packaging</span></p>
      </div>
    </div>
  </div>
