<div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #860101;'>
      <!-- <p class='mb-0' style='padding: 2% 0% 1% 0%;'>
        <img class='img-contact' src="../../../assets/images/contact/text2.png">
        <img class='img-contact btn' src="../../../assets/images/contact/btn3.png">
      </p> -->
      <h1 class='title-3 text-center text-light mb-0'>
        <!-- <img class='img-contact' src="../../../assets/images/contact/text2.png"> -->
        ต่อสายตรงโทร. 092-635-1688
        <img id='contact-line' class='img-contact btn' [src]="contactBtn2">
      </h1>
    </div>
  </div>
