<!-- <div class='container'> -->
<div class='col-md-12'>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
      <img src="../../../assets/images/home/trademark.png" style="position: absolute;left:7%;top:10%;width:25%">
      <ul class="nav" style="position: absolute;right: 3%;top:8%">
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'packaging']" routerLinkActive="active">PACKAGING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">MARKETING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">CONTACT</a>
        </li>
      </ul>
      <img class='w-100' src='../../../assets/images/design/head_bg.jpg' alt="...">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
      <img class='d-block' src="../../../assets/images/design/title1.jpg"
        style='width:40%;margin-left: auto;margin-right: auto;margin-top:1%;'>
      <img class='d-block' src="../../../assets/images/design/title2.jpg"
        style='width:60%;margin-left: auto;margin-right: auto;margin-bottom: 5%;'>
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #C40000;'>
      <img class='image w-50 mx-auto' src="../../../assets/images/design/title3.png">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example11.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example12.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example13.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example14.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example21.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example22.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example23.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example24.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example31.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example32.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example33.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example34.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example41.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example42.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example43.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example44.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example51.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example52.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example53.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example54.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example61.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example62.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example63.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example64.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example71.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example72.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example73.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example74.jpg">
        </div>
      </div>
      <br>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example81.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example82.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example83.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
          <img class='image' src="../../../assets/images/design/example/example84.jpg">
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------- Footer ---------------------------------------------------->
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='padding-top: 2%;'>
      <div class='row justify-content-around'>
        <div class='col-md-3 col-lg-3 col-xl-3'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title1.jpg">
          <br>
          <img class='d-block w-100' src="../../../assets/images/aboutus/detail1.jpg">
          <img class='d-block w-100' src="../../../assets/images/aboutus/detail2.jpg">
          <img class='d-block w-100' src="../../../assets/images/aboutus/detail3.jpg">
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title2.jpg">
          <br>
          <ul class='text-left' style="font-size: xx-large;">
            <li>รวมบรรจุภัณฑ์</li>
            <li>ขวดเซรั่ม</li>
            <li>หลอดครีม</li>
            <li>กระปุกครีม</li>
            <li>ตลับแป้ง</li>
            <li>ลิป</li>
            <li>กล่อง</li>
            <li>กราฟิกดีไซน์</li>
            <li>บริการดูแลแฟนเฟจเฟสบุ็ค</li>
            <li>ผลงาน</li>
          </ul>
        </div>
        <div class='col-md-3 col-lg-3 col-xl-3'>
          <img class='d-block w-100' src="../../../assets/images/aboutus/title3.jpg">
          <br>
          <img class='d-block w-100' src="../../../assets/images/aboutus/detail4.jpg">
        </div>
        <img class='d-block w-50 mx-auto mb-4 mt-2' src="../../../assets/images/aboutus/footer.jpg">
      </div>
    </div>
  </div>
</div>
<!-- </div> -->