// .nav-link {
//     font-family: "Moon";
// }
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    @media (min-width: 992px) {
        display: none;
    }
}
ul {
    font-size:x-large;
    line-height: 1;
}
.navbar-light .navbar-nav .nav-link.active {
    color: darkred;
}