<!-- <div class='container'> -->
<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
      <img class='xl-menu' src="../../../assets/images/home/trademark.png"
        style="position: absolute;left:7%;top:10%;width:25%">
      <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'packaging']" routerLinkActive="active">PACKAGING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'marketing']" routerLinkActive="active">MARKETING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">CONTACT</a>
        </li>
      </ul>
      <img class='w-100' src='../../../assets/images/packaging/head_bg.jpg' alt="บรรจุภัณฑ์">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
      <!-- <img class='d-block' src="../../../assets/images/packaging/title1.jpg"
        style='width:40%;margin-left: auto;margin-right: auto;margin-top:1%;'> -->
        <h1 class='title-2 mt-4'>ภาพรวมบรรจุภัณฑ์</h1>
      <!-- <img class='d-block' src="../../../assets/images/packaging/title2.jpg"
        style='width:60%;margin-left: auto;margin-right: auto;margin-bottom: 5%;'> -->
        <h1 class='title-3 font-weight-normal'>ลูกค้าสามารถเลือกชมบรรจุภัณฑ์เบื้องต้นได้เลยจ้า</h1>
      <div class='row justify-content-center'>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item1.png" title="ขวดเซรั่ม" alt="ขวดเซรั่ม keep up packaging">
            <div class="overlay">
              <img class='image mx-auto pointer' src="../../../assets/images/packaging/item11.png" style='width:95%' [routerLink]="['/', 'serum']">
            </div>
          </div>
        </div>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item2.png" title="หลอดครีม" alt="หลอดครีม keep up packaging">
            <div class="overlay">
              <img class='image mx-auto pointer' src="../../../assets/images/packaging/item22.png" style='width:95%' [routerLink]="['/', 'tube']">
            </div>
          </div>
        </div>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item3.png" title="กระปุกครีม" alt="กระปุกครีม keep up packaging">
            <div class="overlay">
              <img class='image mx-auto pointer' src="../../../assets/images/packaging/item33.png" style='width:95%' [routerLink]="['/', 'jar']">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class='row justify-content-center'>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item4.png">
            <div class="overlay">
              <img class='image mx-auto' src="../../../assets/images/packaging/item44.png" style='width:95%'>
            </div>
          </div>
        </div>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item5.png">
            <div class="overlay">
              <img class='image mx-auto' src="../../../assets/images/packaging/item55.png" style='width:95%'>
            </div>
          </div>
        </div>
        <div class='col-md-4 col-lg-4 col-xl-4 text-center'>
          <div class="container-item">
            <img class='image backdrop' src="../../../assets/images/packaging/item6.png">
            <div class="overlay">
              <img class='image mx-auto' src="../../../assets/images/packaging/item66.png" style='width:95%'>
            </div>
          </div>
        </div>
      </div>
      <h1 class='title-3 mt-4 font-weight-normal'>ลูกค้าสามารถเลือกรูปบรรจุภัณฑ์</h1>
      <h1 class='title-4 mb-4 font-weight-normal'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h1>
      <!-- <img class='image' src="../../../assets/images/packaging/footer.jpg"
        style='width:40%;margin-left: auto;margin-right: auto;margin-top:3%;margin-bottom: 3%;'> -->
    </div>
  </div>
  <app-contact-line></app-contact-line>
  <!-- <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #860101;'>
      <p class='mb-0' style='padding: 2% 0% 1% 0%;'>
        <img class='img-contact' src="../../../assets/images/contact/text2.png">
        <img class='img-contact btn' src="../../../assets/images/contact/btn3.png">
      </p>
    </div>
  </div> -->
  <app-footer></app-footer>
</div>
<!-- </div> -->