<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/lip/head_bg.jpg' title='ลิป' alt="ลิป keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>ลิป ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 12,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/lip/title1.png' alt="บรรจุภัณฑ์ลิป keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/11.jpg" href='../../../assets/images/example/lip/11.jpg' aria-haspopup="dialog" alt="บรรจุภัณฑ์ลิป keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/12.jpg" href='../../../assets/images/example/lip/12.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/13.jpg" href='../../../assets/images/example/lip/13.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/14.jpg" href='../../../assets/images/example/lip/14.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/21.jpg" href='../../../assets/images/example/lip/21.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/22.jpg" href='../../../assets/images/example/lip/22.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/23.jpg" href='../../../assets/images/example/lip/23.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/24.jpg" href='../../../assets/images/example/lip/24.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/31.jpg" href='../../../assets/images/example/lip/31.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/32.jpg" href='../../../assets/images/example/lip/32.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/33.jpg" href='../../../assets/images/example/lip/33.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/34.jpg" href='../../../assets/images/example/lip/34.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/41.jpg" href='../../../assets/images/example/lip/41.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/42.jpg" href='../../../assets/images/example/lip/42.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/43.jpg" href='../../../assets/images/example/lip/43.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/44.jpg" href='../../../assets/images/example/lip/44.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/51.jpg" href='../../../assets/images/example/lip/51.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/52.jpg" href='../../../assets/images/example/lip/52.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/53.jpg" href='../../../assets/images/example/lip/53.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/54.jpg" href='../../../assets/images/example/lip/54.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/61.jpg" href='../../../assets/images/example/lip/61.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/62.jpg" href='../../../assets/images/example/lip/62.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/63.jpg" href='../../../assets/images/example/lip/63.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/64.jpg" href='../../../assets/images/example/lip/64.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/71.jpg" href='../../../assets/images/example/lip/71.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/72.jpg" href='../../../assets/images/example/lip/72.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/73.jpg" href='../../../assets/images/example/lip/73.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/74.jpg" href='../../../assets/images/example/lip/74.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/81.jpg" href='../../../assets/images/example/lip/81.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/82.jpg" href='../../../assets/images/example/lip/82.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/83.jpg" href='../../../assets/images/example/lip/83.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/84.jpg" href='../../../assets/images/example/lip/84.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/91.jpg" href='../../../assets/images/example/lip/91.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/92.jpg" href='../../../assets/images/example/lip/92.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/93.jpg" href='../../../assets/images/example/lip/93.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/94.jpg" href='../../../assets/images/example/lip/94.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/101.jpg" href='../../../assets/images/example/lip/101.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/102.jpg" href='../../../assets/images/example/lip/102.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/103.jpg" href='../../../assets/images/example/lip/103.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/104.jpg" href='../../../assets/images/example/lip/104.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/111.jpg" href='../../../assets/images/example/lip/111.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/112.jpg" href='../../../assets/images/example/lip/112.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/113.jpg" href='../../../assets/images/example/lip/113.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/114.jpg" href='../../../assets/images/example/lip/114.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/121.jpg" href='../../../assets/images/example/lip/121.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/122.jpg" href='../../../assets/images/example/lip/122.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/123.jpg" href='../../../assets/images/example/lip/123.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/124.jpg" href='../../../assets/images/example/lip/124.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/131.jpg" href='../../../assets/images/example/lip/131.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/132.jpg" href='../../../assets/images/example/lip/132.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/133.jpg" href='../../../assets/images/example/lip/133.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/134.jpg" href='../../../assets/images/example/lip/134.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/141.jpg" href='../../../assets/images/example/lip/141.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/142.jpg" href='../../../assets/images/example/lip/142.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/143.jpg" href='../../../assets/images/example/lip/143.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/144.jpg" href='../../../assets/images/example/lip/144.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/151.jpg" href='../../../assets/images/example/lip/151.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/152.jpg" href='../../../assets/images/example/lip/152.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/153.jpg" href='../../../assets/images/example/lip/153.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/154.jpg" href='../../../assets/images/example/lip/154.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/161.jpg" href='../../../assets/images/example/lip/161.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/162.jpg" href='../../../assets/images/example/lip/162.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/163.jpg" href='../../../assets/images/example/lip/163.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/164.jpg" href='../../../assets/images/example/lip/164.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/171.jpg" href='../../../assets/images/example/lip/171.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/172.jpg" href='../../../assets/images/example/lip/172.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/173.jpg" href='../../../assets/images/example/lip/173.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/174.jpg" href='../../../assets/images/example/lip/174.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/181.jpg" href='../../../assets/images/example/lip/181.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/182.jpg" href='../../../assets/images/example/lip/182.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/183.jpg" href='../../../assets/images/example/lip/183.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/184.jpg" href='../../../assets/images/example/lip/184.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/191.jpg" href='../../../assets/images/example/lip/191.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/192.jpg" href='../../../assets/images/example/lip/192.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/193.jpg" href='../../../assets/images/example/lip/193.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/194.jpg" href='../../../assets/images/example/lip/194.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/201.jpg" href='../../../assets/images/example/lip/201.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/202.jpg" href='../../../assets/images/example/lip/202.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/203.jpg" href='../../../assets/images/example/lip/203.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/204.jpg" href='../../../assets/images/example/lip/204.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/211.jpg" href='../../../assets/images/example/lip/211.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/212.jpg" href='../../../assets/images/example/lip/212.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/213.jpg" href='../../../assets/images/example/lip/213.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/214.jpg" href='../../../assets/images/example/lip/214.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/221.jpg" href='../../../assets/images/example/lip/221.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/222.jpg" href='../../../assets/images/example/lip/222.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/223.jpg" href='../../../assets/images/example/lip/223.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/224.jpg" href='../../../assets/images/example/lip/224.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/231.jpg" href='../../../assets/images/example/lip/231.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/232.jpg" href='../../../assets/images/example/lip/232.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/233.jpg" href='../../../assets/images/example/lip/233.jpg' aria-haspopup="dialog">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow lightbox pointer' src="../../../assets/images/example/lip/preview/234.jpg" href='../../../assets/images/example/lip/234.jpg' aria-haspopup="dialog">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>
<app-scroll-to-top></app-scroll-to-top>

