<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
            <img class='xl-menu' src="../../../assets/images/home/trademark.png"
                style="position: absolute;left:7%;top:10%;width:25%">
            <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'packaging']"
                        routerLinkActive="active">PACKAGING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'marketing']"
                        routerLinkActive="active">MARKETING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'portfolio']" routerLinkActive="active">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-menu" [routerLink]="['/', 'contact']" routerLinkActive="active">CONTACT</a>
                </li>
            </ul>
            <img class='w-100' src='../../../assets/images/example/lip/head_bg.jpg' title='ลิป' alt="ลิป keep up packaging">
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center'>
            <h1 class='title-3 font-weight-normal mt-4'>ลิป ลูกค้าสามารถสั่งผลิตขั้นต่ำได้</h1>
            <h2 class='title-3 font-weight-normal mb-4'>เริ่มต้นที่ 12,000 ชิ้น เท่านั้นจ้า</h2>
        </div>
    </div>
    <app-contact-line2></app-contact-line2>
    <div class='row justify-content-center'>
        <div class='col-md-12 col-lg-12 col-xl-12 text-center' style='background-color: #f1f1f1;'>
            <img class='image mt-4' src='../../../assets/images/example/lip/title1.png' alt="บรรจุภัณฑ์ลิป keep up packaging" style='width:40%'>
            <h1 class='title-4 font-weight-normal'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-5'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/11.jpg" title='ลิป' alt="บรรจุภัณฑ์ลิป keep up packaging">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/12.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/13.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/14.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/21.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/22.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/23.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/24.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/31.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/32.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/33.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/34.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/41.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/42.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/43.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/44.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/51.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/52.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/53.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/54.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/61.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/62.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/63.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/64.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/71.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/72.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/73.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/74.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/81.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/82.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/83.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/84.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/91.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/92.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/93.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/94.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/101.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/102.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/103.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/104.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/111.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/112.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/113.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/114.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/121.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/122.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/123.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/124.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/131.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/132.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/133.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/134.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/141.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/142.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/143.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/144.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/151.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/152.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/153.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/154.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/161.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/162.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/163.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/164.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/171.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/172.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/173.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/174.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/181.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/182.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/183.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/184.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/191.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/192.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/193.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/194.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/201.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/202.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/203.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/204.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/211.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/212.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/213.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/214.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/221.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/222.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/223.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/224.jpg">
                </div>
            </div>
            <br>
            <br>
            <div class='row justify-content-center'>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/231.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/232.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/233.jpg">
                </div>
                <div class='col-md-3 col-lg-3 col-xl-3 col-3 text-center'>
                    <img class='image hvr-grow-shadow' src="../../../assets/images/example/lip/234.jpg">
                </div>
            </div>
            <h1 class='title-4 font-weight-normal mt-4'>ลูกค้าสามารถเลือกตัวอย่างบรรจุภัณฑ์</h1>
            <h2 class='title-4 font-weight-normal mb-4'>แล้วทักเข้ามาสอบถามรายละเอียดราคาทางไลน์ได้เลยจ้า</h2>
        </div>
    </div>
    <app-contact-line></app-contact-line>
    <!--------------------------------------------------------- Footer ---------------------------------------------------->
    <app-footer></app-footer>
</div>

