<app-navbar></app-navbar>
<div id='content' class='col-md-12'>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12 px-0'>
      <img class='xl-menu' src="../../../assets/images/home/trademark.png"
        style="position: absolute;left:7%;top:10%;width:25%">
      <ul class="nav xl-menu" style="position: absolute;right: 3%;top:8%">
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'home']" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'packaging']" routerLinkActive="active">PACKAGING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'design']" routerLinkActive="active">DESIGN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" [routerLink]="['/', 'marketing']" routerLinkActive="active">MARKETING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-menu" href="#">CONTACT</a>
        </li>
      </ul>
      <img class='w-100' src='../../../assets/images/marketing/header_bg.jpg' alt="...">
    </div>
  </div>
  <div class='row justify-content-center'>
    <div class='col-md-12 col-lg-12 col-xl-12'>
      <h1 class='text-center title-1 mt-4'>การตลาดออนไลน์</h1>
      <h2 class='text-center title-2 font-weight-normal'>เรื่องง่าย ๆ ให้เราช่วยดูแล มีทีมงานซัพพอร์ตคอยช่วยคุณ</h2>
      <br><br>
      <img class='image' style='width:90%' src='../../../assets/images/marketing/graph.jpg'>
      <br><br>
      <div class='row justify-content-center'>
        <div class='col-md-ุ10 col-lg-10 col-xl-10 col-12'>
          <img class='image' src="../../../assets/images/marketing/rec.jpg">
          <div class='centered container font-weight-bold'>
            <h1 class='title-3 mb-0'><span style='color:#CB0B0B'>กระตุ้นยอดขาย เจาะกลุ่มเป้าหมาย</span> โดยการทำ
              Facebook Ads กับเรา</h1>
          </div>
        </div>
      </div>
      <br><br>
      <div class='row justify-content-center'>
        <div class='col-md-ุ6 col-lg-6 col-xl-6 col-6'>
          <img class='image' src="../../../assets/images/marketing/boost.jpg">
        </div>
        <div class='col-md-ุ5 col-lg-5 col-xl-5 col-5'>
          <ul class='text-left' style="font-size: xxx-large;list-style-type:none;">
            <li><img class='mx-3' src="../../../assets/images/marketing/check.jpg" style='vertical-align: text-top;'>สร้างคอนเทนต์จากข้อมูลบริการ</li>
            <li><img class='mx-3' src="../../../assets/images/marketing/check.jpg" style='vertical-align: text-top;'>ออกแบบกราฟิก ภาพให้น่าจดจำ</li>
            <li><img class='mx-3' src="../../../assets/images/marketing/check.jpg" style='vertical-align: text-top;'>คิดเนื้อหาให้เพจได้รับการมีส่วนร่วม</li>
            <li><img class='mx-3' src="../../../assets/images/marketing/check.jpg" style='vertical-align: text-top;'>บริการโฆษณา Facebook Ads</li>
            <li><img class='mx-3' src="../../../assets/images/marketing/check.jpg" style='vertical-align: text-top;'>วิเคราะห์ข้อมูลวางแผนการทำการตลาด</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>