.nav-link {
    font-family: "Moon";
}
.font-moon {
    font-family: "Moon";
}
.xl-menu {
    @media (max-width: 992px) {
        display: none;
    }
}
.home-menu {
    color: black;
    font-weight: bold;
    text-shadow: 0px 0px 5px #ffffff;
    @media (min-width: 1200px) {
        font-weight: bold;
        font-size: x-large;
    }
    @media (min-width: 992px) {
        font-weight: bold;
        font-size: larger;
    }
    @media (max-width: 575.98px) {
        font-weight: bold;
        font-size: 0.5rem;

        padding: 0.1rem 0.1rem;
    }
}
.navbar {
    @media (min-width: 992px) {
        display: none;
    }
}
#content {
    // @media (max-width: 992px) {
    //     height: 90vh;
    //     overflow-y: auto;
    // }
    @media (max-width: 992px) {
        margin-top: 56.64px;
    }
}
.home-menu:hover {
    color: #ab0d0d !important;
}
.title-1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
        font-size: 5.5rem;
    }
    @media (max-width: 575.98px) {
        font-size: 2rem;
    }
}
.title-2 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
        font-size: 4rem;
    }
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
}
.title-3 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
        font-size: 3rem;
    }
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
}
.title-4 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
        font-size: 2rem;
    }
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
}
.marketing-title {
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #880000;
    font-weight: 700;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
    line-height: 1;
    @media (min-width: 992px) {
        font-size: 5.5rem;
    }
    @media (max-width: 575.98px) {
        font-size: 2rem;
    }
}
.marketing-title2 {
    text-align: center;
    color: #960000;
    font-weight: 700;
    text-shadow: 2px 2px 0 #ffffff, 2px 2px 0 #ffffff, 2px 2px 0 #ffffff, 2px 2px 0 #ffffff;
    line-height: 1;
    @media (min-width: 992px) {
        font-size: 4rem;
    }
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image {
    display: block;
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

.lst-promote {
    list-style-type:none;
    @media (min-width: 1200px) {
        font-weight: bold;
        font-size: xxx-large;
    }
    @media (min-width: 992px) {
        font-weight: bold;
        font-size: xx-large;
        img{
            width:40px;
        }
        line-height: 2;
    }
    @media (max-width: 575.98px) {
        font-weight: bold;
        font-size: 12px;
        img{
            width:15px;
            margin-right: 0.5rem!important;
            margin-left: 0.5rem!important;
        }
        padding-left:0;
        line-height: 2;
    }
}
.wording-1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
        font-size: 3rem;
    }
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
}